<form class="ui form">
  <div class="field" style="text-align: center">
    <div class="ui buttons">
      <button class="ui blue button massive">Männlich</button>
      <button class="ui pink button massive">Weiblich</button>
    </div>
  </div>

  <div class="field">
    <div class="fields">
      <div class="four wide field" style="text-align: right">
        <button class="ui button">-</button>
      </div>
      <div class="twelve wide field">
        <input type="number" name="height" placeholder="Größe">
      </div>
      <div class="four wide field">
        <button class="ui button">+</button>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="fields">
      <div class="four wide field" style="text-align: right">
        <button class="ui button">-</button>
      </div>
      <div class="twelve wide field">
        <input type="number" name="weight" placeholder="Gewicht">
      </div>
      <div class="four wide field">
        <button class="ui button">+</button>
      </div>
    </div>
  </div>
</form>
